# ignore node_modules and build directories
/dist
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode settings
.vscode/

# Jest coverage output
/coverage

# Build artifacts (falls du andere build-Ordner nutzt)
/build

# Env files (falls du Umgebungsvariablen nutzt)
.env